body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root{
  border: 2px solid black;
  padding: 5px;
  max-width: 70%;
}

.content{
  display: grid;
  grid-template-columns: 1fr;
}

.content.submitted{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formSection{
  background-color: beige;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

button{
  background-color: blue;
  border-radius: 4px;
  color: white;
  margin: 5px;
}

h1{
  background-color: rgb(231, 170, 170);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;                               
  margin: 5px;
}


